* { margin: 0; padding: 0 }

html {
  background: #ccc;
  text-align: center;
}

body { 
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  font-family: Arial;
  letter-spacing: -0.02em;
  font-size: 14px;
  text-align: left;
}

header {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -.03em;
}

#posts article {
  padding: 1em 0;
  border-top: 1px solid #ccc;
}

#posts article h3 {
  color: #009;
}

#posts article small {
  color: #777;
}

#posts article .content {
  margin: .5em 0;
}

#posts article:first-child {
  border: none;
}

footer {
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #ccc;
}